/* General Page */
:root {
  --greenColor: linear-gradient(90deg, #00ff00 0%, #37b137 100%);
  --greenColorNormal: #00ff00;
  --whiteColor: #f7f7ff;
  --blackColor: #1c1c1c;
  --blueDarkColor: #17477e;
  --blueColor: #3599db;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.home-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--whiteColor);
}
.home-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.home-body.dark {
  background-color: var(--blackColor);
  color: var(--whiteColor);
}
.section-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  height: 70%;
  transition: all 0.5s ease-in-out;
  overflow: hidden;

  position: relative;
}

.section-left-adjusted {
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}
@keyframes disappear {
  from {
    display: flex;
  }
  to {
    display: none;
  }
}
.section-left-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;

  animation-name: move-up6;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;

  animation-iteration-count: infinite;
  transition: all 0.2s ease-out;
}
.section-left-header.dark * {
  color: var(--whiteColor);
}

.section-left-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  transition: all 0.5s ease-in-out;
  opacity: 0;

  animation: fade-in 0.5s ease-in-out forwards;
}
.section-left-body-text.dark {
  color: var(--whiteColor);
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  background-color: var(--blueColor);
  z-index: 1;

  transition: width 0.5s ease-in-out;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--blueColor);
  transition: all 0.5s ease-in-out;
}

.contact-form-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: var(--blackColor);
  transition: all 0.5s ease-in-out;
  border-radius: 0.625em;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards, forwards;
  animation-delay: 0s, 1s;
  width: calc(90% - 2em);
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding-bottom: 20px;
  transition: all 0.5s ease-in-out;
}
.contact-form-background.dark {
  background-color: var(--whiteColor);
  color: var(--whiteColor);
}

.section-right-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: color 0.5s ease-in-out;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  overflow: scroll;
  padding-bottom: 20px;
  animation: fade-in 0.5s ease-in-out forwards;
}
.arrow {
  stroke-dasharray: 900;

  animation-name: draw, move-up7;
  animation-duration: 2s, 4s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-fill-mode: forwards, forwards;
  animation-delay: 0s, 0s;
}
@keyframes draw {
  0% {
    stroke-dashoffset: 1800;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
.section-right-header.dark {
  color: var(--whiteColor);
  transition: color 0.5s ease-in-out;
}

.section-right.dark {
  background-color: var(--blueDarkColor);
}
.body-hidden {
  width: 0%;
  padding: 0 0 0 0 !important;
}
.response {
  z-index: 100000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(255, 255, 255, 0.8);
}
.response.dark {
  background-color: rgb(0, 0, 0, 0.8);
}
.response-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 5vh;
  margin-top: 20px;
  border: none;
  background-color: var(--blueColor);
  color: var(--whiteColor);
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 0.625em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
}
.response-button:hover {
  background-color: var(--blueDarkColor);
  cursor: pointer;
}
.response-button.dark {
  background-color: var(--whiteColor);
  color: var(--blackColor);
}
.icons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 90%;

  transition: all 0.5s ease-in-out;
}
.icons-container.dark {
  color: var(--whiteColor);
}
.current-positions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 95%;
}

.current-position {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
  margin-top: 1em;
  animation: slide-in2 0.5s ease-in-out forwards;
}
.current-position-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
  height: 100%;
  padding: 0 0 0 0;
  margin-right: 1em;
}
.current-position-company.dark {
  color: var(--blueColor);
}

@keyframes slide-in2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.current-position.dark {
  color: var(--whiteColor);
}
.current-position-title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0.5em;
  color: var(--whiteColor);
}

.current-position-company {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 0.5em;
  color: var(--blueDarkColor);
}
.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  height: 6em;
  margin-top: 2rem;
  transition: all 0.5s ease-in-out;
}
.icon-container:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.clickable {
  cursor: pointer;
}
.icon-container .icon-text {
  font-size: 1.5em;
  font-weight: 600;
  margin-left: 1em;
  color: var(--blueDarkColor);
}
.icon-container.dark .icon-text {
  color: var(--blueColor);
}
.icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  text-align: center;
  animation: slide-in-hex 0.5s ease-in-out forwards;
}

.media-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: all 0.5s ease-in-out;
}

.icon-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: inline-block;
  position: relative;
  text-align: center;
}
.hexagon {
  height: 100%;
  background-color: var(--blueDarkColor);
  display: inline-block;
  width: calc(100% * 0.57735);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.company-logo {
  background-size: cover;
  background-position: center;
  display: inline-block;
  position: relative;
  text-align: center;
}
#edx-logo {
  background-image: url("../assets/edx.webp");
  width: calc(8vw);
  height: calc(8vw * 0.5234);
}
#uh-logo {
  background-image: url("../assets/uhlogo.webp");
  width: calc(8vw * 0.5434);
  height: calc(8vw * 0.5234);
}
.hexagon#github {
  background-color: #0d1117;
}
.hexagon#linkedin {
  background-color: #0a66c2;
}
.hexagon#resume {
  background-color: var(--whiteColor);
}
@keyframes slide-in-hex {
  0% {
    transform: translateY(-200%) rotateZ(-60deg);
  }
  100% {
    transform: translateY(0%) rotateZ(0deg);
  }
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--whiteColor);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.loading-screen.dark {
  background-color: var(--blackColor);
}

.icon-text {
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}
.icon-container.dark {
  color: var(--whiteColor);
}
.icon-text .normal {
  font-weight: 400;
  font-size: 1.5rem;
}

.icon-text .bold {
  font-weight: 800;
  font-size: 4rem;
  color: var(--whiteColor);
}
.hexagon.dark {
  background-color: var(--blueColor);
}
.hexagon::after {
  background-color: inherit;
  content: "";
  height: inherit;
  position: absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  top: 0;
  transform: rotateZ(-60deg);
  width: inherit;
  z-index: 0;
}
.hexagon:before {
  background-color: inherit;
  content: "";
  height: inherit;
  position: absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  top: 0;
  transform: rotateZ(60deg);
  width: inherit;
}

.icon-image#speedometer {
  background: url(../assets/speedometer.png);
  background-size: cover;
}
.icon-image#responsive {
  background: url(../assets/responsive.png);
  background-size: cover;
}
.icon-image#bulb {
  background: url(../assets/bulb.png);
  background-size: cover;
}
.icon-image#github {
  background: url(../assets/github.png);
  background-size: cover;
}
.icon-image#linkedin {
  background: url(../assets/linkedin.png);
  background-size: cover;
}
.icon-image#resume {
  background: url(../assets/resume.png);
  background-size: cover;
}
.icon-image {
  z-index: 1;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  position: relative;
  text-align: center;
  top: 22px;
  overflow: visible;
}
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  z-index: -2;
}
.header-text {
  font-size: 3.5rem;
  font-weight: 600;
  margin: 0.5em;
  animation: slide-in2 0.5s ease-in-out forwards;
  z-index: -1;
  color: var(--whiteColor);
}
.section-right-projects {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}
.projects {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;

  z-index: 100;

  background-color: var(--blackColor);

  transition: all 0.5s ease-in-out;
}
.project-hidden {
  width: 0;
  opacity: 0;
}
.project-hidden * {
  display: none;
}
.disengage .disengage-back {
  height: 100vh;
  position: fixed;
  z-index: 199;
  top: 0;
  left: 0;
  animation: disappear-disengage 1s ease-in-out forwards;
  width: 100vw;
  background-color: var(--whiteColor);
}
.disengage.dark .disengage-back {
  background-color: var(--blackColor);
}
.return-home-button {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 600;
  color: var(--whiteColor);
  animation: slide-in 0.5s ease-in-out forwards;
}
.projects-container {
  position: absolute;
  top: 0;
  width: calc(95vw - 50vh);
  height: 100%;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  transform: rotate(0deg);
}
.orbit-container {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(95vw - 50vh);
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  transform: rotate(0deg);
  z-index: -1;
}
.orbit-box {
  width: 15vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  z-index: -1;
}
#orbit-1 {
  min-width: calc(400vh + 5vw);
  min-height: calc(400vh + 5vw);
  right: calc(-200vh - 2.5vw);
  position: relative;
  border-radius: 50%;
  border: aliceblue 1px solid;
  z-index: -2;
}
#orbit-2 {
  min-width: calc(300vh + 5vw);
  min-height: calc(300vh + 5vw);
  right: calc(-150vh - 2.5vw);
  position: relative;
  border-radius: 50%;
  border: aliceblue 1px solid;
  z-index: -2;
}
#orbit-3 {
  min-width: calc(200vh + 5vw);
  min-height: calc(200vh + 5vw);
  right: calc(-100vh - 2.5vw);
  position: relative;
  border-radius: 50%;
  border: aliceblue 1px solid;
  z-index: -2;
}
.planet-backdrop {
  position: absolute;
  top: 0vh;
  left: 0vh;
  width: 100vh;
  height: 100vh;
  background-color: var(--blackColor);
  border-radius: 50%;
  z-index: -2;
  transition: all 0.5s ease-in-out;
}
.card-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blackColor);
  border-radius: 50%;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
#tsparticles {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: -10000000;
}
.project-text {
  font-size: 2rem;
  font-weight: 600;
  margin: 0.5em;
  animation: slide-in2 0.5s ease-in-out forwards;
  z-index: -1;
  color: var(--whiteColor);
}
.planet {
  width: 100%;
  height: 100%;

  border-radius: 50%;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px var(--greenColorNormal),
    inset -20px 0 80px var(--blueColor),
    inset 20px 0 300px var(--greenColorNormal),
    inset -20px 0 300px var(--blueColor), 0 0 50px #fff,
    -10px 0 80px var(--greenColorNormal), 10px 0 80px var(--blueColor);
  animation: spin-wobble 2s linear infinite;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  background: rgb(0, 0, 0, 0);
}
.planet:hover {
  opacity: 1;

  transition: all 0.5s ease-in-out;
  background: linear-gradient(
    45deg,
    var(--greenColorNormal),
    var(--blueColor),
    var(--greenColorNormal)
  );
}
@keyframes spin-wobble {
  0% {
    transform: rotate(0deg);
  }
  16% {
    transform: rotate(60deg);
  }
  33% {
    transform: rotate(120deg);
  }
  50% {
    transform: rotate(180deg);
  }
  66% {
    transform: rotate(240deg);
  }
  83% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disappear-disengage {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.disengage .disengage-right {
  width: 50vw;
  height: 100vh;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 50vw;
  background-color: var(--whiteColor);
  transition: all 0.5s ease-in-out;
  border-left: 1px solid var(--blackColor);
  animation: disengage-right 1.5s ease-in-out forwards;
}
.disengage.dark .disengage-right {
  background-color: var(--blackColor);
  border-left: 1px solid var(--whiteColor);
}
.deactive {
  display: none;
}

.disengage.dark .disengage-left {
  background-color: var(--blackColor);
  border-right: 1px solid var(--whiteColor);
}
.disengage .disengage-left {
  width: 50vw;
  height: 100vh;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background-color: var(--whiteColor);
  transition: all 0.5s ease-in-out;
  border-right: 1px solid var(--blackColor);
  animation: disengage-left 1.5s ease-in-out forwards;
}
.disengage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;

  transition: all 0.5s ease-in-out;

  animation: disengage 1.5s ease-in-out forwards;
}
@keyframes disengage-right {
  0% {
    top: -100vh;
  }
  30% {
    top: 0;
  }
  60% {
    left: 50vw;
  }
  100% {
    left: 100vw;
  }
}
@keyframes disengage-left {
  0% {
    top: 100vh;
  }
  30% {
    top: 0;
  }
  60% {
    left: 0;
  }
  100% {
    left: -50vw;
  }
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90vw;
  height: 90vw;
  min-width: 90vw;
  min-height: 90vw;
  background-color: var(--blackColor);

  z-index: 100;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.header-line {
  z-index: -22;
  width: 100%;
  height: 0.25em;
  background-color: var(--blueDarkColor);
  border-radius: 0.625em;
  animation: slide-in 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.header-line.dark {
  background-color: var(--blueColor);
}
@keyframes slide-in {
  from {
    transform: translateX(-200%);
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: flex;
    transform: translateX(0);
  }
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100%);
  height: 100%;
  background-color: var(--whiteColor);

  border-radius: 0.625em;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  animation-name: rotate-fall-down;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  overflow: hidden;
  transition: padding 0.5s ease-in-out;
  transform-origin: 100% 100%;
}

@keyframes rotate-fall-down {
  0% {
    transform: rotateZ(90deg);
  }

  30% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-3deg) translateY(-10%);
  }
  75% {
    transform: rotateZ(3deg) translateY(5%);
  }
  100% {
    transform: rotateZ(0deg) translateY(0%);
  }
}

.contact-form.dark {
  background-color: var(--blackColor);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.contact-form:hover {
  padding: 1.5em;
  transition: padding 0.5s ease-in-out;
}
.contact-form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.contact-form-row.dark {
  color: var(--whiteColor);
}
.contact-form-row * {
  margin: 0.5em;
}
.contact-form-row input {
  width: 20em;
  height: 2.5em;
  border: none;
  border-radius: 0.625em;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5em;
}
.contact-form-row input.dark {
  background-color: var(--blackColor) !important;
  color: var(--whiteColor) !important;
}
.contact-form-row input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}
.contact-form-row textarea {
  width: 20em;
  height: 10em;
  border: none;
  border-radius: 0.625em;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5em;
}
.contact-form-row textarea.dark {
  background-color: var(--blackColor) !important;
  color: var(--whiteColor) !important;
}
.contact-form-row textarea:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.contact-form-row label {
  font-size: 1.5rem;
  font-weight: bold;
}
.contact-form-row.dark label {
  color: var(--whiteColor) !important;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 100%;
  height: 100%;

  transition: all 0.2s;
}

.nav-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 33%;
}

@keyframes move-up6 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes move-up7 {
  0% {
    transform: translateY(0px) scaleX(-1) rotate(-10deg);
  }
  50% {
    transform: translateY(-10px) scaleX(-1) rotate(10deg);
  }
  100% {
    transform: translateY(0px) scaleX(-1) rotate(-10deg);
  }
}
.nav-button {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: var(--whiteColor);
  color: var(--blackColor);
  border: none;
  border-radius: 0.625em;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.nav-button.submit {
  background: var(--greenColor);
  color: var(--whiteColor);
}
.home-header-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 50%;
  font-size: 5rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.nav-button.animate {
  animation-name: animate-button-color;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes animate-button-color {
  0% {
    background: var(--whiteColor);
    color: var(--blackColor);
  }
  20% {
    background: var(--blackColor);
    color: var(--whiteColor);
  }
  60% {
    background: var(--blackColor);
    color: var(--whiteColor);
  }
  100% {
    background: var(--whiteColor);
    color: var(--blackColor);
  }
}
.home-header-main.dark {
  color: var(--whiteColor);
}
.nav-button.submit:hover {
  background: var(--blackColor);
  color: var(--whiteColor);
}
.nav-button.submit.dark {
  background: var(--greenColor);
}

.nav-button.active {
  background: var(--greenColor) !important;
  color: var(--whiteColor);

  animation-name: wobble;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.nav-button.active:hover {
  background: var(--greenColor) !important;
  color: var(--whiteColor);
}
.nav-button.dark {
  background: var(--blackColor);
  color: var(--whiteColor);
}
.nav-button:hover {
  color: var(--whiteColor);
}

.nav-button:hover.dark {
  color: var(--blackColor);
}

.nav-button:after {
  content: "";
  background: var(--blackColor);
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}
.nav-button.submit.dark:after {
  background: var(--whiteColor);
}
.dark.nav-button:after {
  background: var(--whiteColor);
}
.nav-button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.card {
  width: 190px;
  height: 254px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(var(--blueColor), var(--greenColor));
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}
.toggleWrapper {
}

.toggleWrapper input {
  position: absolute;
  left: -99em;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 90px;
  height: 50px;
  background-color: var(--blueColor);
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 44px;
  height: 44px;
  background-color: #ffcf96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

.toggle__handler .crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}

.toggle__handler .crater--1 {
  top: 18px;
  left: 10px;
  width: 4px;
  height: 4px;
}

.toggle__handler .crater--2 {
  top: 28px;
  left: 22px;
  width: 6px;
  height: 6px;
}

.toggle__handler .crater--3 {
  top: 10px;
  left: 25px;
  width: 8px;
  height: 8px;
}

.star {
  position: absolute;
  background-color: #fff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 10px;
  left: 35px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--2 {
  top: 18px;
  left: 28px;
  z-index: 1;
  width: 30px;
  height: 3px;
}

.star--3 {
  top: 27px;
  left: 40px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--4,
.star--5,
.star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
  top: 16px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

.star--5 {
  top: 32px;
  left: 17px;
  z-index: 0;
  width: 3px;
  height: 3px;
  transform: translate3d(3px, 0, 0);
}

.star--6 {
  top: 36px;
  left: 28px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

input:checked + .toggle {
  background-color: var(--blueDarkColor);
}

input:checked + .toggle .toggle__handler {
  background-color: #ffe5b5;
  transform: translate3d(40px, 0, 0) rotate(0);
}

input:checked + .toggle .toggle__handler .crater {
  opacity: 1;
}

input:checked + .toggle .star--1 {
  width: 2px;
  height: 2px;
}

input:checked + .toggle .star--2 {
  width: 4px;
  height: 4px;
  transform: translate3d(-5px, 0, 0);
}

input:checked + .toggle .star--3 {
  width: 2px;
  height: 2px;
  transform: translate3d(-7px, 0, 0);
}

input:checked + .toggle .star--4,
input:checked + .toggle .star--5,
input:checked + .toggle .star--6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

input:checked + .toggle .star--4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.wheel-and-hamster {
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(
    100% 100% at center,
    hsla(0, 0%, 60%, 0) 47.8%,
    hsl(0, 0%, 60%) 48%
  );
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em, 1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30, 90%, 80%) inset,
    0.75em -1.55em 0 hsl(30, 90%, 90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30, 90%, 55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0, 0%, 0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0, 90%, 75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30, 90%, 55%) inset,
    0.15em -0.5em 0 hsl(30, 90%, 80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0, 100% 0, 70% 80%, 60% 100%, 0% 100%, 40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 80%) 80%, hsl(0, 90%, 75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 90%) 80%, hsl(0, 90%, 85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 30%,
    70% 90%,
    70% 100%,
    30% 100%,
    40% 90%,
    0% 30%
  );
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 80%) 90%, hsl(0, 90%, 75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 90%) 90%, hsl(0, 90%, 85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0, 90%, 75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(
      100% 100% at center,
      hsl(0, 0%, 60%) 4.8%,
      hsla(0, 0%, 60%, 0) 5%
    ),
    linear-gradient(
        hsla(0, 0%, 55%, 0) 46.9%,
        hsl(0, 0%, 65%) 47% 52.9%,
        hsla(0, 0%, 65%, 0) 53%
      )
      50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
  from,
  to {
    transform: rotate(4deg) translate(-0.8em, 1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em, 1.85em);
  }
}

@keyframes hamsterHead {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from,
  90%,
  to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-30deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(20deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}
/*works janky on mobile :<*/
.card-container {
  width: 15vw;
  height: 15vw;
  position: relative;
  border-radius: 20px;

  transition: 200ms;

  animation-delay: 0.5s;
}
.card-container.active {
  animation-play-state: paused;
}
.planet-text {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  z-index: 10;
  pointer-events: none;
}
.card-link {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 10;
  transition: 200ms;
}
.card-link:hover {
  color: #000;
}

.card-background {
  animation: spin-wobble 1s linear infinite;
  box-shadow: inset 0 0 20px #fff, inset 10px 0 40px var(--greenColorNormal),
    inset -10px 0 40px var(--blueColor),
    inset 10px 0 150px var(--greenColorNormal),
    inset -10px 0 150px var(--blueColor), 0 0 25px #fff,
    -5px 0 40px var(--greenColorNormal), 5px 0 40px var(--blueColor);

  background-size: 400% 400%;
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 50%;
  transition: 200ms;
}
#card {
  position: absolute;
  inset: 0;
  z-index: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 700ms;
}
@keyframes orbit {
  0% {
    transform: translateX(-10vw) translateY(-50vw);
  }
  60% {
    transform: translateX(-15vw) translateY(calc(254px));
  }

  100% {
    transform: translateX(-10vw) translateY(50vw);
  }
}

.subtitle {
  transform: translateY(160px);
  color: rgb(134, 110, 221);
  text-align: center;
  width: 100%;
}
.planet-btn {
  position: absolute;
  right: -60vh;
  top: 0;
  background: none;
  width: 100vh;
  height: 100vh;
  border-radius: 50%;
  font-size: 2em;
  font-weight: bold;
  color: var(--whiteColor);

  border: none;
  outline: none;
  cursor: pointer;
  z-index: 10;
}
.title {
  opacity: 0;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out-out;
  transition-delay: 100ms;
  position: absolute;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  color: var(--whiteColor);
}

.tracker:hover ~ #card .title {
  opacity: 1;
}

#prompt {
  z-index: 20;
  font-size: 20px;
  font-weight: bold;
  transition: 300ms ease-in-out-out;

  text-align: center;
  color: rgb(255, 255, 255);
}

.tracker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.tracker:hover {
  cursor: pointer;
}

.tracker:hover ~ #card #prompt {
  opacity: 0;
}

.tracker:hover ~ #card {
  transition: 300ms;
  filter: brightness(1.1);
}

.card-container:hover #card::before {
  transition: 200ms;
  content: "";
  opacity: 80%;
}

.canvas {
  perspective: 800px;
  inset: 0;
  z-index: 200;
  position: absolute;
  border-radius: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;

  grid-template-areas:
    "tr-1 tr-2 tr-3 tr-4 tr-5"
    "tr-6 tr-7 tr-8 tr-9 tr-10"
    "tr-11 tr-12 tr-13 tr-14 tr-15"
    "tr-16 tr-17 tr-18 tr-19 tr-20"
    "tr-21 tr-22 tr-23 tr-24 tr-25";
}
.canvas.active {
  animation-play-state: paused;
}

#card::before {
  content: "";
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px var(--greenColorNormal),
    inset -20px 0 80px var(--blueColor),
    inset 20px 0 300px var(--greenColorNormal),
    inset -20px 0 300px var(--blueColor), 0 0 50px #fff,
    -10px 0 80px var(--greenColorNormal), 10px 0 80px var(--blueColor);
  filter: blur(2rem);
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 200ms;
}

.tr-1 {
  grid-area: tr-1;
}

.tr-2 {
  grid-area: tr-2;
}

.tr-3 {
  grid-area: tr-3;
}

.tr-4 {
  grid-area: tr-4;
}

.tr-5 {
  grid-area: tr-5;
}

.tr-6 {
  grid-area: tr-6;
}

.tr-7 {
  grid-area: tr-7;
}

.tr-8 {
  grid-area: tr-8;
}

.tr-9 {
  grid-area: tr-9;
}

.tr-10 {
  grid-area: tr-10;
}

.tr-11 {
  grid-area: tr-11;
}

.tr-12 {
  grid-area: tr-12;
}

.tr-13 {
  grid-area: tr-13;
}

.tr-14 {
  grid-area: tr-14;
}

.tr-15 {
  grid-area: tr-15;
}

.tr-16 {
  grid-area: tr-16;
}

.tr-17 {
  grid-area: tr-17;
}

.tr-18 {
  grid-area: tr-18;
}

.tr-19 {
  grid-area: tr-19;
}

.tr-20 {
  grid-area: tr-20;
}

.tr-21 {
  grid-area: tr-21;
}

.tr-22 {
  grid-area: tr-22;
}

.tr-23 {
  grid-area: tr-23;
}

.tr-24 {
  grid-area: tr-24;
}

.tr-25 {
  grid-area: tr-25;
}

.tr-1:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-2:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.tr-6:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-7:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-11:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-12:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.tr-16:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-17:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-21:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-22:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}
