/* General Page */
:root {
  --greenColor: linear-gradient(90deg, #00ff00 0%, #37b137 100%);

  --whiteColor: #f7f7ff;
  --blackColor: #1c1c1c;
  --blueDarkColor: #17477e;
  --blueColor: #3599db;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.home-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--whiteColor);
}
.home-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.home-body.dark {
  background-color: var(--blackColor);
  color: var(--whiteColor);
}
.section-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  height: 70%;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.section-left-adjusted {
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}
@keyframes disappear {
  from {
    display: flex;
  }
  to {
    display: none;
  }
}
.section-left-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;

  animation-name: move-up6;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;

  animation-iteration-count: infinite;
  transition: all 0.2s ease-out;
}
.section-left-header.dark * {
  color: var(--whiteColor);
}

.section-left-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  transition: all 0.5s ease-in-out;
  opacity: 0;

  animation: fade-in 0.5s ease-in-out forwards;
}
.section-left-body-text.dark {
  color: var(--whiteColor);
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  background-color: var(--blueColor);
  transition: all 0.5s ease-in-out;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--blueColor);
  transition: all 0.5s ease-in-out;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--blackColor);
  transition: all 0.5s ease-in-out;
  border-radius: 0.625em;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  animation-name: rotate-fall-down, wobble;
  animation-duration: 1s, 0.4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards, forwards;
  animation-delay: 0s, 1s;
  width: calc(90% - 2em);
}
.contact.dark {
  background-color: var(--whiteColor);
  color: var(--whiteColor);
}
.section-right-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: color 0.5s ease-in-out;
}
.arrow {
  stroke-dasharray: 900;

  animation-name: draw, move-up7;
  animation-duration: 2s, 4s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-fill-mode: forwards, forwards;
  animation-delay: 0s, 0s;
}
@keyframes draw {
  0% {
    stroke-dashoffset: 1800;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
.section-right-header.dark {
  color: var(--whiteColor);
  transition: color 0.5s ease-in-out;
}

.section-right.dark {
  background-color: var(--blueDarkColor);
}
.body-hidden {
  width: 0%;
  transition: width 0.5s ease-in-out;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100%);
  height: 100%;
  background-color: var(--whiteColor);
  transition: all 0.5s ease-in-out;
  border-radius: 0.625em;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  animation-name: rotate-fall-down, wobble;
  animation-duration: 1s, 0.4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards, forwards;
  animation-delay: 0s, 1s;
  overflow: hidden;
}

@keyframes rotate-fall-down {
  0% {
    transform: rotate(0deg) translate(0, -200%);
  }
  100% {
    transform: rotate(360deg) translate(0, 0);
  }
}

.contact-form.dark {
  background-color: var(--blackColor);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.contact-form:hover {
  padding: 1.5em;
}
.contact-form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.contact-form-row.dark {
  color: var(--whiteColor);
}
.contact-form-row * {
  margin: 0.5em;
}
.contact-form-row input {
  width: 20em;
  height: 2.5em;
  border: none;
  border-radius: 0.625em;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5em;
  transition: all 0.5s ease-in-out;
}
.contact-form-row input.dark {
  background-color: var(--blackColor) !important;
  color: var(--whiteColor) !important;
}
.contact-form-row input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}
.contact-form-row textarea {
  width: 20em;
  height: 10em;
  border: none;
  border-radius: 0.625em;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5em;
  transition: all 0.5s ease-in-out;
}
.contact-form-row textarea.dark {
  background-color: var(--blackColor) !important;
  color: var(--whiteColor) !important;
}
.contact-form-row textarea:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.contact-form-row label {
  font-size: 1.5rem;
  font-weight: bold;
}
.contact-form-row.dark label {
  color: var(--whiteColor) !important;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 100%;
  height: 100%;

  transition: all 0.2s;
}

.nav-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 33%;
}

@keyframes move-up6 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes move-up7 {
  0% {
    transform: translateY(0px) scaleX(-1) rotate(-10deg);
  }
  50% {
    transform: translateY(-10px) scaleX(-1) rotate(10deg);
  }
  100% {
    transform: translateY(0px) scaleX(-1) rotate(-10deg);
  }
}
.nav-button {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: var(--whiteColor);
  color: var(--blackColor);
  border: none;
  border-radius: 0.625em;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.nav-button.submit {
  background: var(--greenColor);
  color: var(--whiteColor);
}
.home-header-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 50%;
  font-size: 5rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.home-header-main.dark {
  color: var(--whiteColor);
}
.nav-button.submit:hover {
  background: var(--blackColor);
  color: var(--whiteColor);
}
.nav-button.submit.dark {
  background: var(--greenColor);
}

.nav-button.active {
  background: var(--greenColor) !important;
  color: var(--whiteColor);

  animation-name: wobble;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.nav-button.active:hover {
  background: var(--greenColor) !important;
  color: var(--whiteColor);
}
.nav-button.dark {
  background: var(--blackColor);
  color: var(--whiteColor);
}
.nav-button:hover {
  color: var(--whiteColor);
}

.nav-button:hover.dark {
  color: var(--blackColor);
}

.nav-button:after {
  content: "";
  background: var(--blackColor);
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}
.nav-button.submit.dark:after {
  background: var(--whiteColor);
}
.dark.nav-button:after {
  background: var(--whiteColor);
}
.nav-button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.card {
  width: 190px;
  height: 254px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(var(--blueColor), var(--greenColor));
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}
.toggleWrapper {
}

.toggleWrapper input {
  position: absolute;
  left: -99em;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 90px;
  height: 50px;
  background-color: var(--blueColor);
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 44px;
  height: 44px;
  background-color: #ffcf96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

.toggle__handler .crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}

.toggle__handler .crater--1 {
  top: 18px;
  left: 10px;
  width: 4px;
  height: 4px;
}

.toggle__handler .crater--2 {
  top: 28px;
  left: 22px;
  width: 6px;
  height: 6px;
}

.toggle__handler .crater--3 {
  top: 10px;
  left: 25px;
  width: 8px;
  height: 8px;
}

.star {
  position: absolute;
  background-color: #fff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 10px;
  left: 35px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--2 {
  top: 18px;
  left: 28px;
  z-index: 1;
  width: 30px;
  height: 3px;
}

.star--3 {
  top: 27px;
  left: 40px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--4,
.star--5,
.star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
  top: 16px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

.star--5 {
  top: 32px;
  left: 17px;
  z-index: 0;
  width: 3px;
  height: 3px;
  transform: translate3d(3px, 0, 0);
}

.star--6 {
  top: 36px;
  left: 28px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

input:checked + .toggle {
  background-color: var(--blueDarkColor);
}

input:checked + .toggle .toggle__handler {
  background-color: #ffe5b5;
  transform: translate3d(40px, 0, 0) rotate(0);
}

input:checked + .toggle .toggle__handler .crater {
  opacity: 1;
}

input:checked + .toggle .star--1 {
  width: 2px;
  height: 2px;
}

input:checked + .toggle .star--2 {
  width: 4px;
  height: 4px;
  transform: translate3d(-5px, 0, 0);
}

input:checked + .toggle .star--3 {
  width: 2px;
  height: 2px;
  transform: translate3d(-7px, 0, 0);
}

input:checked + .toggle .star--4,
input:checked + .toggle .star--5,
input:checked + .toggle .star--6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

input:checked + .toggle .star--4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
