@media (max-width: 900px) {
  .toggle {
    width: 60px;
    height: 30px;
  }
  .toggle__handler {
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
  }
  .toggle__handler .crater {
    top: 10px;
    left: 6px;
    width: 2px;
    height: 2px;
  }
  .toggle__handler .crater--2 {
    top: 16px;
    left: 13px;
    width: 3px;
    height: 3px;
  }
  .toggle__handler .crater--3 {
    top: 6px;
    left: 15px;
    width: 4px;
    height: 4px;
  }
  .star--1 {
    top: 6px;
    left: 21px;
    width: 18px;
    height: 2px;
  }
  .star--2 {
    top: 11px;
    left: 17px;
    width: 18px;
    height: 2px;
  }
  .star--3 {
    top: 16px;
    left: 25px;
    width: 18px;
    height: 2px;
  }
  .star--4 {
    top: 10px;
    left: 7px;
    width: 1px;
    height: 1px;
  }
  .star--5 {
    top: 20px;
    left: 11px;
    width: 2px;
    height: 2px;
  }
  .star--6 {
    top: 22px;
    left: 17px;
    width: 1px;
    height: 1px;
  }
  input:checked + .toggle .star--1 {
    width: 1px;
    height: 1px;
  }
  input:checked + .toggle .star--2 {
    width: 2px;
    height: 2px;
    transform: translate3d(-3px, 0, 0);
  }
  input:checked + .toggle .star--3 {
    width: 1px;
    height: 1px;
    transform: translate;
  }

  .section-left {
    width: 100%;

    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: height 0.5s ease;
    overflow: visible;
    z-index: 2;
  }
  .media-icons-container.mobile-hide {
    display: none;
  }
  #edx-logo {
    width: calc(10vh);
    height: calc(10vh * 0.4034);
  }
  #uh-logo {
    width: calc(10vh * 0.5234);
    height: calc(10vh * 0.4234);
  }
  .section-left-body {
    height: auto;
  }
  .section-left-adjusted {
    height: 179px;
  }
  .section-left-adjusted {
    display: none;
  }
  .section-left-header.activated {
    display: none;
  }
  .section-right {
    height: calc(100vh - 179px);
    width: 100%;
    padding-top: 10px;
  }
  .sect .section-left-header {
    height: auto;
  }
  .nav-row {
    width: 100%;
    justify-content: space-evenly;
  }
  .home-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .body-hidden {
    height: 0;
  }

  .nav-button {
    font-size: 1rem;
    width: 25%;
  }
  .contact-form label {
    height: auto;
  }
  .contact-form {
    justify-content: flex-start;
    overflow: scroll;
    border-radius: 0;
  }
  .contact-form-row input {
    width: 100%;
  }
  .contact-form-background {
    background-color: rgb(0, 0, 0, 0) !important;
    box-shadow: none;

    width: 100%;
  }
  .hexagon-background {
    height: 50px;
    width: calc(50px * 0.57735);
  }
  .current-positions {
    height: auto;
    flex-direction: column;
  }
  .hexagon-container {
    width: 50px;
    height: 50px;
  }
  .bold {
    font-size: 1rem;
  }
  .normal {
    font-size: 0.8rem;
  }
  .icon-text {
    font-size: 0.8rem;
    margin-left: 10%;
    width: 60%;
  }
  .icon-text .bold {
    font-size: 2rem;
  }
  .icon-container:hover {
    transform: none;
  }
  .icons-container {
    width: 90%;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    margin-top: 10px;
  }
  .media-icons-container {
    width: 90%;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    margin-top: 10px;
  }
  .current-position {
    width: 100%;
    height: auto;
    flex-direction: row-reverse;
  }
  .projects {
    overflow: hidden;
  }
  .current-position-header {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .current-position-title {
    font-size: 1rem;
  }
  .current-position-company {
    font-size: 0.8rem;
  }
  .icon-container {
    width: 100%;
    justify-content: center;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .icon {
    height: 50px;
    width: 50px;
  }
  .icon-image {
    height: 25px;
    width: 25px;
    top: 12.5px;
  }
  .icon-text .normal {
    font-size: 1rem;
  }
  .contact-form-row textarea {
    width: 100%;
  }
  .contact .about {
    padding: 0;
  }
  .contact {
    justify-content: flex-start !important;
  }
  .section-right {
    transition: height 0.5s ease;
  }
  .section-right-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
  }
  .contact-form-row {
    flex-direction: column;
  }
  .section-header {
    display: none;
  }
  .nav {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  .planet-btn {
    right: auto;
    left: 0;
    width: 100vw;
    height: 100vw;
    top: auto;
    bottom: -50vw;
  }
  .planet-backdrop {
    width: 100vw;
    height: 100vw;
    top: auto;
    right: auto;
    bottom: 0;
  }
  .orbit-container {
    width: 100vw;
    height: calc(95vh - 50vw);
    top: 0;
    right: auto;
    flex-direction: column;
  }
  .orbit-box {
    width: 100vw;
    height: 15vh;
    top: 0;
    right: auto;
  }
  #orbit-1 {
    min-width: calc(400vh + 5vw);
    min-height: calc(400vh + 5vw);
    top: calc(200vh + 2.5vw);
    right: auto;
    position: relative;
    border-radius: 50%;
    border: aliceblue 1px solid;
    z-index: -2;
  }
  #orbit-2 {
    min-width: calc(300vh + 5vw);
    min-height: calc(300vh + 5vw);
    top: calc(150vh + 2.5vw);
    right: auto;
    position: relative;
    border-radius: 50%;
    border: aliceblue 1px solid;
    z-index: -1;
  }
  #orbit-3 {
    min-width: calc(200vh + 5vw);
    min-height: calc(200vh + 5vw);
    top: calc(100vh + 2.5vw);
    right: auto;
    position: relative;
    border-radius: 50%;
    border: aliceblue 1px solid;
    z-index: 0;
  }
  .planet-text {
    top: 25%;
    left: 50%;
  }
  .projects-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    flex-direction: column;
    height: calc(95vh - 50vw);
  }
  .card-container {
    height: 15vh;
    width: 15vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .projects-header {
    display: none;
  }
  #card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
